{% extends 'TestBundle::layout.html.twig' %}

{% block stylesheets %}

<!-- Page qui liste les fiches de l'utilisateur -->

<link rel="stylesheet" href="{{ asset('bundles/framework/bootstrap/css/bootstrap.min.css') }}">

<link rel="stylesheet" href="{{ asset('bundles/framework/theme/css/custom-theme/jquery-ui-1.10.0.custom.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/framework/theme/assets/css/font-awesome.min.css') }}">

<link rel="stylesheet" href="{{asset('bundles/framework/css/ConsulerUser.css')  }}">

<script src="{{asset('bundles/framework/theme/assets/js/jquery-1.9.0.min.js')  }}"></script>
<script src="{{asset('bundles/framework/theme/assets/js/bootstrap.min.js')  }}"></script>
<script src="{{asset('bundles/framework/theme/assets/js/jquery-ui-1.10.0.custom.min.js')  }}"></script>

<script src="{{asset('bundles/framework/theme/assets/js/google-code-prettify/prettify.js')  }}"></script>

<script src="{{ asset('bundles/framework/bootstrap/js/jquery.easing.js')}}"></script>
    <script>
        jQuery(document).ready(function()  {

            //Récuperation des information des Ficches :
            var tabEtat = new Array();
            var tabAffichage = new Array();
            var tabMoi = new Array();
            var tabAnne = new Array();
            var tabMontant = new Array();
            {% for uneFiche in LesFiches %}
            tabEtat.push("{{ uneFiche.getEtat().getid()}}");
            tabMoi.push("{{ uneFiche.getMois().format('Y-m-d') }}");
            tabAffichage.push("{{ uneFiche.getMois().format('m-Y') }}");
            tabAnne.push({{ uneFiche.getMois().format('Y') }});
            tabMontant.push({{ uneFiche.getMontantValide() }});
            {% endfor %}


            //Affichage des Fiche en fonction de la date choisie par l'utilisateur
            $(document).on('change','#ChoixAnnee',function () {

                var v  = $(this).val();

                var r = $('#la');
                $('#reload').remove();


                if (v != null) {
                    var tab = jQuery('<tbody id="reload"></tbody>');

                    for (var i = 0; i <tabEtat.length; i++) {

                        if( v == tabAnne[i]) {

                            tab.append('<tr> <th scope="row">'+ tabAffichage[i] +'</th><td>' + tabMontant[i] + '€</td><td>'+tabEtat[i]+'</td><td style="text-align: center"><form name="voir" method="post" ><input type="hidden" id="mois" name="mois" value="'+tabMoi[i]+'"><input type="submit" class="btn btn-info" value="Consulter" ></form></td></tr>');
                        }
                        }
                    r.append(tab);
                }

                return false;
            });

        });
    </script>

{% endblock stylesheets %}
{% block body %}

    <!-- Affichage des fiches pour la consultation -->
     <div class="row" style="margin-left: 0px;margin-right: 0px;margin-top: 20px;" >
         <div class="col-md-offset-3 col-lg-8">



             <div class="panel panel-info">
                 <div class="panel-heading">
                     <p style="padding: 0px;margin: 0px"> <h1 style="margin: 0px;padding: 0px;text-align: center;">Consulter Fiche Frais </h1> Changer d'année :
                     <select id="ChoixAnnee"  class="">
                             <option value="null"></option>
                         {% for uneDate in LesDates %}
                             <option value="{{ uneDate }}">{{ uneDate }}</option>
                         {% endfor %}
                             </select>

                     </p>

                 </div>
                 <div class="panel-body">
                     <div class="responsive-table-line" id="tout" style="margin:0px auto;max-width:100%; height: 580px;overflow-y:scroll;">
                         <table class="table table-bordered table-condensed table-body-center" id="la" >
                             <thead style="background-color: #9da0a4;">
                             <tr>
                                 <th>Mois</th>
                                 <th>Montant Valide</th>
                                 <th>Etat</th>
                                 <th style="text-align: center">Voir</th>
                             </tr>
                             </thead>
                             <tbody id="reload">


                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
         </div>

     </div>


{% endblock %}
